.hero {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;

  &__content {
    width: 55%;
    padding-top: 70px;
    h1 {
      font-family: $title-font;
      font-size: 70px;
      line-height: 70px;
      font-weight: 700;
      color: $black;
      margin-bottom: 30px;
      span {
        color: $orange;
      }
    }
  }

  &__description {
    color: $grey;
    font-weight: 300;
    font-size: 18px;
    max-width: 70%;
    margin-bottom: 30px;
  }

  &__search {
    width: 65%;
    display: flex;
    align-items: stretch;
    margin-bottom: 30px;
    input {
      flex: 1;
      background-color: rgb(#d0d0d2, 0.25);
      padding: 10px 20px;
      border: 0;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      font-size: 20px;
      display: inline-block;

      &::placeholder {
        color: #949494;
        font-weight: 100;
      }
    }

    button {
      background-color: $orange;
      display: inline-block;
      width: 40px;
      border: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      img {
        width: 20px;
      }
    }
  }

  &__info {
    @include reset-list();
    flex-wrap: wrap;
    width: 60%;
    gap: 20px;
    li {
      width: 45%;
      color: $grey;
      font-weight: 300;
      margin: 0;
      position: relative;
      padding-left: 30px;
      &::before {
        content: "";
        width: 20px;
        height: 20px;
        background-image: url("../img/icon-check.svg");
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        left: 0;
        top: 3px;
      }
    }
  }

  &__img {
    width: 45%;
    img {
      max-width: 500px;
      position: relative;
      left: -100px;
    }
  }
}
