@font-face {
  font-family: 'Akronim';
  src: url('fonts/Akronim-Regular.eot');
  src: url('fonts/Akronim-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Akronim-Regular.woff2') format('woff2'),
    url('fonts/Akronim-Regular.woff') format('woff'),
    url('fonts/Akronim-Regular.ttf') format('truetype'),
    url('fonts/Akronim-Regular.svg#Akronim-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* El primer párrafo tiene una tipografía segura Verdana (sans-serif). */
p:first-of-type {
  font-family: Verdana;
}

/* El segundo párrafo tiene una tipografía segura Didot (serif). */
p:nth-of-type(2){
  font-family: Didot, serif;
}

/* El tercer párrafo tiene una tipografía segura FreeMono (monospace). */
p:nth-of-type(3) {
  font-family: FreeMono, monospace;
}

/* El cuarto párrafo tiene una tipografía importada desde Google Fonts Roboto 400 dentro de la etiqueta style.  */
p:nth-of-type(4) {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/* El quinto párrafo tiene una tipografía descargada de Google Fonts Akronim y llamada con la instrucción @font-face. El tamaño de fuente 24px. Podéis descargarla directamente desde Google Fonts. */
p:nth-of-type(5){
  font-family: 'Akronim', cursive;
  font-size: 24px;
}

/* El sexto párrafo tiene una tipografía importada desde Google Fonts Montserrat 400 mediante un <link> */
p:nth-of-type(6){
  font-family: 'Montserrat', sans-serif;
}