.activities {
  padding-bottom: 40px;
  @include breakpoint(tablet) {
    padding-bottom: 80px;
  }
  background: linear-gradient(180deg, #fff 0%, #f0f1ff 100%);
  &__header {
    background-image: $gradient-pink-orange;
    padding: 25px 30px;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-bottom: 60px;
    @include breakpoint(tablet) {
      margin-bottom: 0;
    }
  }

  &__item {
    padding: 1rem 2rem;
    margin-bottom: 40px;
    background-color: white;
    border-radius: 10px;
    padding: 56px 28px 40px;
    position: relative;
    @include breakpoint(tablet) {
      margin-bottom: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &-icon {
      width: 56px;
      height: 56px;
      background: $gradient-pink-orange;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-bottom: 20px;
      position: absolute;
      left: 20px;
      top: -25px;
    }
    &-title {
      color: $black;
      font-size: 20px;
      margin-bottom: 26px;
    }
    &-description {
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      color: #83869a;
      margin-bottom: 28px;
    }
    &-cta {
    }
  }

  .container {
    @include breakpoint(tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px 30px;
    }
    @include breakpoint(tablethorizontal) {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 80px 30px;
    }
  }
}
