.hero {
  margin-bottom: 40px;
  @include breakpoint(tablethorizontal) {
    margin-bottom: 80px;
  }

  &__title {
    margin-bottom: 26px;
    font-size: 40px;
    font-weight: 700;
    line-height: 51px;
  }

  &__subtitle {
    margin-bottom: 26px;
    color: $grey;
    line-height: 26px;
  }

  &__buttons {
    margin-bottom: 40px;
  }

  &__img {
    text-align: center;
    width: 80%;
    margin-left: 10%;
    position: relative;
    @include breakpoint(tablet) {
      width: 50%;
      margin: 0;
    }
    @include breakpoint(tablethorizontal) {
      height: 500px;
    }
    @include breakpoint(desktop) {
      width: 400px;
    }
  }

  &__number {
    display: inline-block;
    width: max-content;
    background-color: white;
    color: $black;
    padding: 5px;
    gap: 10px;
    text-align: left;
    position: absolute;
    border-radius: 1rem;
    box-shadow: 0 5px 10px #ccc;
    span {
      display: block;
    }

    &-title {
      font-size: 14px;
      color: $grey;
    }

    &-number {
      color: $black;
      font-size: 32px;
      font-weight: 700;
    }

    &-1 {
      padding: 16px 20px 16px 20px;
      top: 0;
      right: 0;
      position: absolute;
      @include breakpoint(tablet) {
        top: -33px;
      }
      @include breakpoint(tablethorizontal) {
        top: 64px;
      }
      @include breakpoint(desktop) {
        right: 55px;
      }
    }

    &-2 {
      padding: 16px 45px 16px 20px;
      bottom: 0;
      left: 0;
      position: absolute;
      @include breakpoint(tablet) {
        bottom: -34px;
        left: 34px;
      }
      @include breakpoint(desktop) {
        bottom: 154px;
        left: -53px;
      }
    }
  }

  &__img-mobile {
    @include breakpoint(tablet) {
      display: none;
    }
  }

  .container {
    @include breakpoint(tablet) {
      display: flex;
      justify-content: space-between;
      padding-bottom: 80px;
    }
    @include breakpoint(tablethorizontal) {
      padding-bottom: 100px;
      align-items: center;
    }
    @include breakpoint(desktop) {
      padding-bottom: 10px;
    }
  }

  &__content {
    @include breakpoint(tablet) {
      width: 50%;
    }
    @include breakpoint(tablethorizontal) {
      width: 40%;
    }
    @include breakpoint(desktop) {
      max-width: 440px;
    }
  }
}
