nav.nav-primary {
  ul {
    @include reset-list();
    gap: 50px;
    a {
      color: $grey;
      font-weight: 300;
      text-decoration: none;
      &.active,
      &:hover {
        color: $orange;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          height: 2px;
          background-color: $orange;
          width: 80%;
          bottom: -10px;
          left: 10%;
        }
      }
    }
  }
}
