/* Selectores II */
/* 1 Selecciona los elementos div que sean hijos de otro div */
div > div {

}

/* 2 Selecciona los hijos de los elementos p */
p > * {

}

/* 3 Selecciona los elementos p que sean hijos de article */
article > p {

}

/* 4 Selecciona los p que esten dentro de un article */
article p {

}

/* 5 Selecciona los titulos h1 y los h3 */
h1, h3 {

}

/* 6 Selecciona los ol que esten dentro de body */
body ol {

}

/* 7 Cualquier elemento que tenga la clase "amarillo" */
.amarillo {

}

[class="amarillo"] {

}

/* 8 Los elementos <ul> que sean hijos de <body */
body > ul {

}

/* 9 Los elementos <a> que sean hijos de <p> */
p > a {

}

/* 10 Selecciona el elemento con id "platano" */
[id="platano"]{

}

#platano {

}

/* 11 Todos los elementos <div> que sean hermanos de un elemento <h2> */
h2 ~ div {

}

/* 12 Todos los elementos <p> con clase = paisa, descendientes de un elemento <ul> */
ul p.paisa {

}

/* 13 Selecciona los <h1>, <h2>, <h3> que tengan la clase "headertitle", hijos del header */
h1.headertitle, h2.headertitle, h3.headertitle {

}

/* Selectores III */
/* 1 El primer elemento <a> hijo de <p> */
p > a:first-of-type {

}

/* 2 Selecciona los checkbox que estén marcados, hijos de un <form> */
form > input[type="checkbox"]:checked {

}

/* 3 Selecciona el último <p> que sea descendiente de <article> */
article p:last-of-type {

}

/* 4 Seleccionar el segundo hijo de un elemento section */
section > *:nth-child(2) {

}

/* 5 Seleccionar los hijos pares de un elemento ol */
ol:nth-child(2n) {

}

/* 6 Seleccionar el antepenúltimo li de un ul de longitud indefinida */
li:nth-last-child(3) {

}

/* 7 El segundo <a> de dentro de un <p> */
p a:nth-of-type(2){

}

/* 8 Los button que sean hijos únicos */
button:only-child {

}

/* 9 Los span que sean primeros hijos de un p */
p > span:first-child {

}


/* 10 Penúltimo hijo de body */
body > *:nth-last-child(2) {

}
